.section-button {
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid $colorBlue;
  position: relative;
  background-image: linear-gradient(45deg, $colorBlueSecond 40%, $colorBlue 40%);
  font-family: $fontAleo;
  color: $colorWhite;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 1.4px;
  text-align: center;

  &:hover {
    border: 1px solid $colorBlueSecond;
    background-image: linear-gradient(45deg, $colorBlueSecond 40%, $colorBlueSecond 40%);
  }
}
